
# Fallback, ensure all files is readable for zygote

on post-fs-data
    chmod 0644 /metadata/aconfig/flags/system.val
    chmod 0644 /metadata/aconfig/flags/system.info
    chmod 0644 /metadata/aconfig/flags/system_ext.val
    chmod 0644 /metadata/aconfig/flags/system_ext.info
    chmod 0644 /metadata/aconfig/flags/product.val
    chmod 0644 /metadata/aconfig/flags/product.info
    chmod 0644 /metadata/aconfig/flags/com.android.permission.val
    chmod 0644 /metadata/aconfig/flags/com.android.permission.info
    chmod 0644 /metadata/aconfig/flags/com.android.adservices.val
    chmod 0644 /metadata/aconfig/flags/com.android.adservices.info
    chmod 0644 /metadata/aconfig/flags/com.android.media.val
    chmod 0644 /metadata/aconfig/flags/com.android.media.info
    chmod 0644 /metadata/aconfig/flags/com.android.configinfrastructure.val
    chmod 0644 /metadata/aconfig/flags/com.android.configinfrastructure.info
    chmod 0644 /metadata/aconfig/flags/com.android.uwb.val
    chmod 0644 /metadata/aconfig/flags/com.android.uwb.info
    chmod 0644 /metadata/aconfig/flags/com.android.art.val
    chmod 0644 /metadata/aconfig/flags/com.android.art.info
    chmod 0644 /metadata/aconfig/flags/com.android.uprobestats.val
    chmod 0644 /metadata/aconfig/flags/com.android.uprobestats.info
    chmod 0644 /metadata/aconfig/flags/com.android.mediaprovider.val
    chmod 0644 /metadata/aconfig/flags/com.android.mediaprovider.info
    chmod 0644 /metadata/aconfig/flags/com.android.conscrypt.val
    chmod 0644 /metadata/aconfig/flags/com.android.conscrypt.info
    chmod 0644 /metadata/aconfig/flags/com.android.wifi.val
    chmod 0644 /metadata/aconfig/flags/com.android.wifi.info
    chmod 0644 /metadata/aconfig/flags/com.android.tethering.val
    chmod 0644 /metadata/aconfig/flags/com.android.tethering.info
    chmod 0644 /metadata/aconfig/flags/com.android.profiling.val
    chmod 0644 /metadata/aconfig/flags/com.android.profiling.info
    chmod 0644 /metadata/aconfig/flags/com.android.ipsec.val
    chmod 0644 /metadata/aconfig/flags/com.android.ipsec.info
    chmod 0644 /metadata/aconfig/flags/com.android.ondevicepersonalization.val
    chmod 0644 /metadata/aconfig/flags/com.android.ondevicepersonalization.info
    chmod 0644 /metadata/aconfig/flags/com.android.media.swcodec.val
    chmod 0644 /metadata/aconfig/flags/com.android.media.swcodec.info
    chmod 0644 /metadata/aconfig/flags/com.android.bt.val
    chmod 0644 /metadata/aconfig/flags/com.android.bt.info
    chmod 0644 /metadata/aconfig/flags/com.android.appsearch.val
    chmod 0644 /metadata/aconfig/flags/com.android.appsearch.info
    chmod 0644 /metadata/aconfig/flags/com.android.os.statsd.val
    chmod 0644 /metadata/aconfig/flags/com.android.os.statsd.info
    chmod 0644 /metadata/aconfig/flags/com.android.devicelock.val
    chmod 0644 /metadata/aconfig/flags/com.android.devicelock.info
    chmod 0644 /metadata/aconfig/flags/com.android.healthfitness.val
    chmod 0644 /metadata/aconfig/flags/com.android.healthfitness.info
    chmod 0644 /metadata/aconfig/flags/com.android.i18n.val
    chmod 0644 /metadata/aconfig/flags/com.android.i18n.info
    chmod 0644 /metadata/aconfig/flags/com.android.virt.val
    chmod 0644 /metadata/aconfig/flags/com.android.virt.info
    chmod 0644 /metadata/aconfig/maps/system.package.map
    chmod 0644 /metadata/aconfig/maps/system.flag.map
    chmod 0644 /metadata/aconfig/maps/system_ext.package.map
    chmod 0644 /metadata/aconfig/maps/system_ext.flag.map
    chmod 0644 /metadata/aconfig/maps/product.package.map
    chmod 0644 /metadata/aconfig/maps/product.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.permission.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.permission.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.adservices.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.adservices.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.media.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.media.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.configinfrastructure.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.configinfrastructure.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.uwb.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.uwb.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.art.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.art.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.uprobestats.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.uprobestats.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.mediaprovider.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.mediaprovider.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.conscrypt.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.conscrypt.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.wifi.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.wifi.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.tethering.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.tethering.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.profiling.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.profiling.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.ipsec.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.ipsec.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.ondevicepersonalization.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.ondevicepersonalization.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.media.swcodec.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.media.swcodec.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.bt.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.bt.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.appsearch.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.appsearch.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.os.statsd.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.os.statsd.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.devicelock.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.devicelock.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.healthfitness.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.healthfitness.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.i18n.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.i18n.flag.map
    chmod 0644 /metadata/aconfig/maps/com.android.virt.package.map
    chmod 0644 /metadata/aconfig/maps/com.android.virt.flag.map
    chmod 0644 /metadata/aconfig/boot/system.val
    chmod 0644 /metadata/aconfig/boot/system.info
    chmod 0644 /metadata/aconfig/boot/system_ext.val
    chmod 0644 /metadata/aconfig/boot/system_ext.info
    chmod 0644 /metadata/aconfig/boot/product.val
    chmod 0644 /metadata/aconfig/boot/product.info
    chmod 0644 /metadata/aconfig/boot/com.android.conscrypt.val
    chmod 0644 /metadata/aconfig/boot/com.android.conscrypt.info
    chmod 0644 /metadata/aconfig/boot/com.android.uwb.val
    chmod 0644 /metadata/aconfig/boot/com.android.uwb.info
    chmod 0644 /metadata/aconfig/boot/com.android.permission.val
    chmod 0644 /metadata/aconfig/boot/com.android.permission.info
    chmod 0644 /metadata/aconfig/boot/com.android.wifi.val
    chmod 0644 /metadata/aconfig/boot/com.android.wifi.info
    chmod 0644 /metadata/aconfig/boot/com.android.configinfrastructure.val
    chmod 0644 /metadata/aconfig/boot/com.android.configinfrastructure.info
    chmod 0644 /metadata/aconfig/boot/com.android.appsearch.val
    chmod 0644 /metadata/aconfig/boot/com.android.appsearch.info
    chmod 0644 /metadata/aconfig/boot/com.android.media.swcodec.val
    chmod 0644 /metadata/aconfig/boot/com.android.media.swcodec.info
    chmod 0644 /metadata/aconfig/boot/com.android.art.val
    chmod 0644 /metadata/aconfig/boot/com.android.art.info
    chmod 0644 /metadata/aconfig/boot/com.android.mediaprovider.val
    chmod 0644 /metadata/aconfig/boot/com.android.mediaprovider.info
    chmod 0644 /metadata/aconfig/boot/com.android.ipsec.val
    chmod 0644 /metadata/aconfig/boot/com.android.ipsec.info
    chmod 0644 /metadata/aconfig/boot/com.android.adservices.val
    chmod 0644 /metadata/aconfig/boot/com.android.adservices.info
    chmod 0644 /metadata/aconfig/boot/com.android.tethering.val
    chmod 0644 /metadata/aconfig/boot/com.android.tethering.info
    chmod 0644 /metadata/aconfig/boot/com.android.ondevicepersonalization.val
    chmod 0644 /metadata/aconfig/boot/com.android.ondevicepersonalization.info
    chmod 0644 /metadata/aconfig/boot/com.android.uprobestats.val
    chmod 0644 /metadata/aconfig/boot/com.android.uprobestats.info
    chmod 0644 /metadata/aconfig/boot/com.android.profiling.val
    chmod 0644 /metadata/aconfig/boot/com.android.profiling.info
    chmod 0644 /metadata/aconfig/boot/com.android.media.val
    chmod 0644 /metadata/aconfig/boot/com.android.media.info
    chmod 0644 /metadata/aconfig/boot/com.android.virt.val
    chmod 0644 /metadata/aconfig/boot/com.android.virt.info
    chmod 0644 /metadata/aconfig/boot/com.android.devicelock.val
    chmod 0644 /metadata/aconfig/boot/com.android.devicelock.info
    chmod 0644 /metadata/aconfig/boot/com.android.os.statsd.val
    chmod 0644 /metadata/aconfig/boot/com.android.os.statsd.info
    chmod 0644 /metadata/aconfig/boot/com.android.i18n.val
    chmod 0644 /metadata/aconfig/boot/com.android.i18n.info
    chmod 0644 /metadata/aconfig/boot/com.android.healthfitness.val
    chmod 0644 /metadata/aconfig/boot/com.android.healthfitness.info
    chmod 0644 /metadata/aconfig/boot/com.android.bt.val
    chmod 0644 /metadata/aconfig/boot/com.android.bt.info
