on boot
    start mtk.plpath.utils.link

on property:sys.boot_completed=1 && property:vendor.mtk.retry_create_pl=1
    stop mtk.plpath.utils.link
    start mtk.plpath.utils.link

on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

on property:vendor.mtk.boot_pl_a=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a

on property:vendor.mtk.boot_pl_b=1
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

on property:vendor.mtk.boot_rot_boot_fmc_a=1
    symlink /dev/block/mapper/rot_boot_fmc_a /dev/block/by-name/rot_boot_fmc_a
    symlink /dev/block/mapper/rot_boot_fmc_a /dev/block/platform/bootdevice/by-name/rot_boot_fmc_a

on property:vendor.mtk.boot_rot_boot_fmc_b=1
    symlink /dev/block/mapper/rot_boot_fmc_b /dev/block/by-name/rot_boot_fmc_b
    symlink /dev/block/mapper/rot_boot_fmc_b /dev/block/platform/bootdevice/by-name/rot_boot_fmc_b

on property:vendor.mtk.boot_rot_boot_fw_a=1
    symlink /dev/block/mapper/rot_boot_fw_a /dev/block/by-name/rot_boot_fw_a
    symlink /dev/block/mapper/rot_boot_fw_a /dev/block/platform/bootdevice/by-name/rot_boot_fw_a

on property:vendor.mtk.boot_rot_boot_fw_b=1
    symlink /dev/block/mapper/rot_boot_fw_b /dev/block/by-name/rot_boot_fw_b
    symlink /dev/block/mapper/rot_boot_fw_b /dev/block/platform/bootdevice/by-name/rot_boot_fw_b

# FSTAB_RAW2(lk2,bootloader2) of fstab.in.emmc, but without bootloader2 mount point
    symlink /dev/block/by-name/lk1 /dev/block/by-name/bootloader1
    symlink /dev/block/by-name/lk2 /dev/block/by-name/bootloader2

# Fix ro.vendor.mtk_ufs_support remove issue of recovery mode
on property:vendor.mtk.boot0_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot0

on property:vendor.mtk.boot0_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot0

on property:vendor.mtk.boot0_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot0

on property:vendor.mtk.boot1_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot1

on property:vendor.mtk.boot1_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot1

on property:vendor.mtk.boot1_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot1

service mtk.plpath.utils.link /system_ext/bin/mtk_plpath_utils
    class main
    user root
    group root system
    oneshot
    disabled
